{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css"
}
